h1{
  text-align: center;
  object-position: center;
  font-size: 5em;
}
th{
  display: inline-block;
}
.center{
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}
body {
	margin: 0;
	overflow: hidden;
}
div.main{
  position: relative;
  z-index: 10;
}
a{
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: white;
}
a:hover{
  text-decoration: underline;
}
softwares{
  color: white;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.btn {
  position: fixed;
  bottom:0;
  right:0;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: RoyalBlue;
}