h1{
    text-align: center;
    object-position: center;
    font-size: 5em;
}
li{
    margin-right:10px;
    display: inline-block;
}
ul{
    display: inline-block;
}
.center{
    margin-left: auto;
    margin-right: auto;
}