h1{
  text-align: center;
  object-position: center;
  font-size: 5em;
}
th{
  display: inline-block;
}
.center{
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
}
body {
	margin: 0;
	overflow: hidden;
}
div.main{
  position: relative;
  z-index: 10;
}
a{
  text-decoration: none;
  text-align: left;
  color: white;
}
softwares{
  color: white;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
}